{% extends "layout.html" %}
{% block body %}
<html>
    Hi, {{ session['usernameforpwreset'] }} <br />
    Enter your new password <br />
    <form action="/finalizepasswordreset" method="POST">
        Username <input type="text" name="username" required /><br />
        Password <input type="password" name="password" required /><br />
        Re-enter password <input type="password" name="confirmpassword" required /><br />
        <button type="submit">Reset My Password!</button>
    </form>

</html>
{% endblock %}